/* main.css */
@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background-color: var(--color-background-dark);
  padding: 1rem;
  text-align: center;
  color: var(--color-white);
}

header h1 {
  font-size: 2rem;
}

main {
  margin-top: 2rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background: var(--color-background-dark);
  color: var(--color-white);
  text-align: center;
}
